@-webkit-keyframes flash {
    0% {
        opacity:1;
    }

    100% {
        opacity: 0;
    }
}

.flash {
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: flash;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

.bugs {
    background: black;
}

.bug-wrapper {
    display: inline-block;

}

.bug {
    background-image: radial-gradient(circle, #66F21F 0%, #66F21F 6%, rgba(102, 242, 31, 0.5) 19%, rgba(0, 0, 0, 0) 40%);
    width: 100%;
    height: 100%;
    opacity: 0;
}