@-webkit-keyframes flash {
    0% {
        opacity:1;
    }

    100% {
        opacity: 0;
    }
}

.flash {
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-name: flash;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

html {
    background: black;
}

.setup, .range {
    display: inline;
    color: gray;
    padding: 0 10px;

}

.bug-wrapper {
    display: inline-block;

}

.bug {
    width: 100%;
    height: 100%;
    opacity: 0;
}